{% extends "home/header.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'manager/css/manage.css' %}">
{% endblock %}

{% block sidebar %}
  <a class="home" href="/"> <img src="{% static 'icons/home.svg' %}" alt="Homepage"> </a>
  <a class="info" href="/info" target="_blank"> <img src="{% static 'icons/info.svg' %}" alt="Information"> </a>
{% endblock %}

{% block content %}

<div class="header">
  <h2>The cucumber registry</h2>
  <h1>Registry management</h1>
</div>

<br><br>

{% if tanks|length %}
<h1> Summary: </h1>

<table>
  <thead>
    <th> Tank </th>
    <th> Created </th>
    <th> Occupants </th>
  </thead>
  {% for tank_id, tank in tanks.items %}
  <tr id="row_{{ tank_id }}">
    <td> {{ tank_id }} </td>
    <td> {{ tank.date_created }} </td>
    <td> <span class="count">{{ tank.cucumbers|length }}</span> animals </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<br><br>
<h1 class="error-msg"> There are no registered tanks yet. </h1>
<p class="big">
  You can create new tanks and register cucumbers in the
  <a href="/register">register</a>
  interface.
</p>
{% endif %}

<div class="content">
  {% for tank_id, tank in tanks.items %}

    <div class="tank" id="tank_{{ tank_id }}">
      <h2 class="text-center">
        Tank "{{ tank_id }}" <br>
        Created {{ tank.date_created }} <br>
        {{ tank.cucumbers|length }} registered animals
      </h2>

      <button class="danger" type="button" onclick="deleteTankDialog('{{ tank_id }}');"> Delete tank </button>

      <div class="row">
        {% for c in tank.cucumbers %}
        <div class="cucumber" id="cuke_{{ c.id }}">
          <img src="{{ c.img_uri }}" alt="Cucumber source image">

          <p> {{ c.id }} </p>
          <p> <span class="registered">Registered</span>: <span class="value">{{ c.date_created }}</span> </p>

          <div class="details">
            {% for name, detail in c.details.items %}
            <p> <span class="key">{{ name }}</span>: <span class="value">{{ detail }}</span> </p>
            {% endfor %}
          </div>

          <div class="buttons">
            <div onclick="editCukeDialog('{{ tank_id }}', '{{ c.id }}');" title="Edit"> &#9998; </div>
            <div onclick="deleteCukeDialog('{{ tank_id }}', '{{ c.id }}');" title="Delete"> &times; </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

  {% endfor %}
</div>

<div class="modal-overlay" onclick="closeModal();"></div>


<div class="modal delete" id="tankDeleteModal">
  <div class="close" type="button" name="button" onclick="closeModal();"> &times; </div>
  <h3> Delete tank "<span class='tank_id'> <!-- js filled --> </span>"? </h3>
  <p> This tank will be deleted, along with all cucumbers registered to the tank. </p>
  <p> This action cannot be undone. </p>

  <button class="danger" type="submit"> Delete </button>
  <button type="button" onclick="closeModal();"> Cancel </button>
</div>


<div class="modal delete" id="cukeDeleteModal">
  <div class="close" type="button" name="button" onclick="closeModal();"> &times; </div>
  <h3>
    Delete "<span class='cuke_id'> <!-- js filled --> </span>"
    from tank "<span class='tank_id'> <!-- js filled --> </span>"?
  </h3>
  <p> This animal will be removed from the tank. </p>
  <p> This action cannot be undone. </p>

  <button class="danger" type="submit"> Delete </button>
  <button class="neutral" type="button" onclick="closeModal();"> Cancel </button>
</div>


<div class="modal edit" id="cukeEditModal">
  <div class="close" type="button" name="button" onclick="closeModal();"> &times; </div>
  <h3>
    Edit details on "<span class='cuke_id'> <!-- js filled --> </span>"
    in tank "<span class='tank_id'> <!-- js filled --> </span>"
  </h3>

  <form>
    <!-- Async js submission -->
    <div class="details">
      <!-- Js filled from cuke div -->
    </div>

    <div class="add">
      <label for=""> New field </label>
      <br>
      <input type="text" name="new_key" value="" placeholder="Field name" onclick="$(this).parent().children('input').removeClass('invalid');" maxlength="255">
      <input type="text" name="new_value" value="" placeholder="Field value" onclick="$(this).parent().children('input').removeClass('invalid');" maxlength="255">
    </div>

    <p class="error-msg"></p>
  </form>

  <div class="buttons">
    <button type="submit" onclick="updateCukeRequest();"> Update </button>
    <button class="neutral" type="button" onclick="closeModal();"> Cancel </button>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  // Hide modals so jquery remembers display css properties
  $('.modal').hide();
  $('.modal').css('opacity', '1');
</script>

<script src="{% static 'home/js/ajax.js' %}"></script>
<script src="{% static 'manager/js/manage.js' %}"></script>
<script src="{% static 'manager/js/requests.js' %}"></script>
{% endblock %}
