{% extends "home/header.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/info.css' %}">
{% endblock %}

{% block sidebar %}
  <a class="home" href="/"> <img src="{% static 'icons/home.svg' %}" alt="Homepage"> </a>
{% endblock %}

{% block content %}

<div class="header">
  <h2>The cuke register</h2>
  <h1>Information</h1>
</div>

<div class="info">
  <div class="item" id="overview">
    <h2 class="title"> Overview </h2>

    <p>
      The purpose of the Cuke Register is to allow sea cucumbers to be tagged
      by image.
      <br><br>
      After <a href="/register">registering</a> images of a sea
      cucumber to a particular tank, you can return at a later date with new
      photographs of animals from that tank, and the cuke registry will
      <a href="/match">match</a> the animals(s) that you are looking for.
      <br><br>
      You can also <a href="/search">search</a> for a particular animal and
      view all registered tanks and animals to keep track of the registry. This
      view also allows you to add information to registered animals, such as
      gender, genotype and fertility.
    </p>
  </div>

  <div class="item" id="registration">
    <h2 class="title"> Registration </h2>
    <p>
      An operator would typically begin by register all animals in a tank. They
      can then keep the tank up to date by adding new animals and removing
      animals that have died or been removed.
    </p>

    <p>
      To register an animal, a purpose-made image-capture device (ICD) should
      be used to photograph the animals. This device must satisfy several
      important criteria:
    </p>

    <ul>
      <li> Take pictures from a consistent distance and angle </li>
      <li> Provide a uniform, bright (green or blue) background </li>
      <li> Provide a consistent light source to keep colours consistent between photographs </li>
      <li> Remove glare from the surface of the animal by blocking light from above </li>
    </ul>

    <p>
      Plans for an ICD can be seen
      <a href="{% get_media_prefix %}ICD_plans.pdf" target="_blank">here</a>.
      It is very important that this device is not modified or replaced between
      registration and matching, because changes to image lighting and angle may
      prevent the software from recognising an animal. Replacing the camera
      should be avoided for the same reason, since different cameras take
      different pictures. Put simply - build a good ICD and take care of it!
    </p>

    <p>
      After capturing all animals and returning them to the tank, the operator
      should connect the camera to the computer for uploading the images to the
      <a href="/register">registration interface</a>. At this point you could
      choose to rename the image files to an appropriate ID format which will
      be used to identify each animal in the database.
      <br><br>
      It is often
      useful to take DNA samples from the animals which can be linked to the
      registry - if this is the case, the filenames should probably match the
      labels of the DNA samples.
    </p>

    <p>
      Alternatively, if the identifier format/order is not a concern, you can
      choose to auto-generate the IDs. The following selection demonstrates how
      identifiers will be generated:
    </p>

    <img src="{% static 'home/img/idformat.jpg' %}" alt="ID formatting">

    <p>
      When registration is complete you will be shown a confirmation
      page. You can choose to download a PDF report of the registration which
      will show all registered images with the assigned identifiers. Sometimes
      an image will fail to register, usually due to a problem with the image.
      Any failed images will be shown on this page along with an error message
      to suggest what went wrong.
    </p>
  </div>

  <div class="item" id="manage">
    <h2 class="title"> Manage </h2>
    <p>
      The <a href="/manager">manage</a> interface enables you to see the tanks
      and animals that are currently registered to the database.
      <br><br>
      Here, you can delete animals that have been removed from the tank, or
      remove entire tanks that have been cleaned out (or perhaps registered
      incorrectly).
      <br><br>
      You also have the option to add information to registered animals, such
      as fecundity rate, gender, or spawning date. These are just
      suggestions - any information relevant to your business can be added
      here, provided it is less than 255 characters. Just click on the pencil
      icon at the bottom of any registered animal.
    </p>
  </div>

  <div class="item" id="match">
    <h2 class="title"> Matching </h2>
    <p>
      When it comes to finding registered animals, there are a number of ways
      that the operator might choose to do this - take a look at
      <a href="#workflow">workflows</a>
      to learn how best to identify your animals.
    </p>

    <p>
      The process for matching is very similar to registration. You must image
      capture the candidate animals, upload the image files to the
      <a href="/match">match interface</a>,
      and the image-matching algorithm will try to figure out who is who.
      <br><br>
      The matching process should take approximately 12 seconds per animal in
      a tank of 50 individuals. You will then be presented with a "results"
      interface showing the cucumber images matched to identifiers from the
      database, along with a score to show the confidence level for the match.
      <br><br>
      The first column of the results shows the query animal's position. This
      related to the order that the animals were captured in, and is based on
      the alphabetical order of the filenames. If you did not alter the
      filenames, the camera should have ordered the filenames correctly by
      default. Therefore:
    </p>

    <p class="big attention">Do not rename image files before uploading!</p>

    <p>
      The operator should then confirm by eye that this match is genuine - it
      is usually quite easy to see when two different animals have been matched
      incorrectly (though this should only happen with scores below 100).
      <br><br>
      If this is the case, hit "reject" to get the next best-scoring match,
      until the genuine match has been found. These rejections will be stored
      in the database and can be used to improve the algorithm.
    </p>
  </div>

  <div class="item" id="workflow">
    <h2 class="title"> Workflow </h2>
    <p>
      In order to utilitize this system effectively your workflow should be
      planned carefully. As a general rule, you will likely use the apps in
      the order they are presented on the homepage:
    </p>

    <img src="{% static 'home/img/home-buttons.png' %}" alt="Register, manage, match">

    <br><br>

    <p class="text-center"> An example workflow: </p>
    <img src="{% static 'home/img/placeholder.svg' %}" alt="Workflow overview">

    <h3 class="subtitle"> Registration </h3>

    <p>
      Registration should be quite straightforward - the objective is to
      photograph all cucumbers in a tank with the ICD. The images can then be
      uploaded and registered to that tank in the
      <a href="/register">register</a>
      interface.
      <br><br>
      The simplest way to register a tank of sea cucumbers is to register the
      animals as they go into the tank.
      <br><br>
      If a tank is already populated, you
      should design a protocol to ensure that you can register all animals in
      one event without registering the same animal multiple times.
      For example, you could place registered animals in a corner of the tank
      that has been isolated with netting or a submerged box. When all animals
      have been registered, you can then restore the tank to its previous
      state.
      <br><br>
      If you plan to take DNA samples from the animals (e.g. to confirm gender)
      this is probably the best time to do it, so that the DNA and registration
      identifiers can be linked. You can apply specific identifiers by renaming
      the image files before registrations - the filenames will be used as
      identifiers.
    </p>

    <h3 class="subtitle"> Managing tanks and animals </h3>

    <p>
      You may wish to add information to registered animals throughout the
      production cycle. If you discover a registered animal's gender, you can
      add this information in the management interface. After breeding the
      animals, you can add fecundity information.
      <br><br>
      At a later date, you may wish
      to find a specific animal (for instance, a female with high fecundity).
      You can then use the match interface to help find that animal.
    </p>

    <h3 class="subtitle"> Matching </h3>

    <p>
      Without additinal hardware (we are working on that), matching requires a
      carefully designed protocol:
    </p>

    <ol>
      <li> Photograph the candidate animals (possibly all individuals in a registered tank) </li>
      <li> Upload the images to the match interface to discover the candidate identities </li>
      <li> Locate the target animal(s) based the order they were captured </li>
    </ol>

    <p>
      The last point required the most careful planning. If the animals were
      simply returned to the tank after step 1, then you would have no way to
      find the identified animals after step 3.
    </p>

    <p>
      The solution is to separate the animals to retain the capture order during
      step 1. The matching interface will show you the position of each identified
      animal, and you can then return to the animal based on its location. A simple
      way to acheive this is to have a series of small tubs in which to place
      animals after photographing. Then, in step 3, if you find that your target
      animals are in positions 3, 8 & 17, you can return to those tubs and collect
      your animals. The remaining animals can be returned to the tank.
    </p>
  </div>

<!--
  <div class="item" id="faq">
    <h2 class="title"> FAQ </h2>

    <p>
      FAQ 1
    </p>

    <p>
      FAQ 2
    </p>
  </div>
-->

  <div class="item" id="contact">
    <h2 class="title"> Contact </h2>

    <p>
      If you find a bug or have an issue with the software, you can contact the
      developer: <br><br>
      <a href="mailto:chyde1@usc.edu.au?subject=Cucumber%20registry">chyde1@usc.edu.au</a>
    </p>
  </div>

</div>

{% endblock %}
