{% extends "home/header.html" %}
{% load static %}


{% block content %}

<div class="header">
  <h2>Welcome to...</h2>
  <h1>The cuke register</h1>
</div>

<div class="container">
  <h2> Please log in to continue </h2>

  <form action="/" method="post" onsubmit="countdownRefresh();" autocomplete="off">
    {% csrf_token %}
    <div class="col align-items-center">
      <input type="text" name="username" value="" placeholder="Username" autofocus required>
      <input type="password" name="password" value="" placeholder="Password" required>
      <p class="login-error">
        {{ form.password.errors.as_text|slice:"1:" }}
      </p>
      <button type="submit"> Submit </button>
    </div>
  </form>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('form').on('keypress', 'input', function(args) {
      if (args.keyCode == 13) {
          $('form button').click();
          return false;
      }
  });

  function countdownRefresh() {
    // Sometimes the backend freezes on login. Refresh the page for a hacky fix.
    setTimeout(function () {
      console.log('Page refresh!');
      window.location = "/";
    }, 3000);
  }
</script>
{% endblock %}
