:root {
  --bright: #a5acb1;
  --button-main: rgba(126,172,170,0.1);
  --button-hov: rgba(126,172,170,0.25);
  --dodger: #007bff;
  --dodger-faded: rgba(0,123,255,0.6);
}

body {
  color: #a5acb1;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}
.text-center {
  text-align: center;
}

/* Header template */
div.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
div.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.95;
}
div.background img {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
div.interface {
  width: calc(100vw - 25px);
  min-height: calc(100vh - 66px);
}
div.main {
  width: calc(100% - 100px);
  min-height: 95vh;
  margin-left: 100px;
  padding-bottom: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
div.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  transition-duration: 0.25s;
}
div.sidebar:hover {
  background-color: rgba(200,200,200,0.02);
}
div.sidebar a {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 25px 0;
  display: block;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.25s;
}
div.sidebar a:hover {
  box-shadow: 0 0 5px 1px #ccc;
}
div.sidebar a::after {
  text-align: center;
  color: white;
  content: "";
  position: absolute;
  left: 9px;
  bottom: -25px;
  transition-duration: 0.25s;
  opacity: 0;
}
div.sidebar a:hover::after {
  opacity: 1;
}
div.sidebar a.home::after {
  content: "Home";
}
div.sidebar a.info::after {
  left: 16px;
  content: "Info";
}
div.sidebar a.back::after {
  left: 14px;
  content: "Back";
}
div.sidebar a.download::after {
  bottom: -45px;
  left: -8px;
  width: 80px;
  content: "Download report";
}
div.sidebar a.share::after {
  left: -10px;
  width: 80px;
  content: "Email link";
}
div.sidebar a.logout {
  padding-left: 10px;
}
div.sidebar a.logout::after {
  left: 6px;
  content: "Logout";
}
div.sidebar a img {
  display: inline;
  width: inherit;
  height: inherit;
}

/* Generic */
div.row {
  display: flex;
  flex-direction: row;
}
div.col {
  display: flex;
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
div.header {
  position: relative;
  margin: 50px 0;
  text-align: center;
}
div.header h1 {
  font-size: 3rem;
  margin: 0;
  line-height: 0.75;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--bright);
}
input {
  color: inherit;
  padding: 15px;
  margin: 20px 0;
  font-size: 1.5rem;
  background-color: var(--button-main);
  border: none;
  border-radius: 10px;
}
input:focus {
  outline: none;
  border: 1px solid dodgerblue;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"] {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  position: relative;
  bottom: 100px;
}
select:focus {
  outline: none;
}
label.file-input {
  width: 200px;
  height: 200px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  padding: 30px 20px 20px 20px;
  background-color: var(--button-main);
  border: none;
  border-radius: 10px;
  transition-duration: 0.25s;
}
label.file-input.disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
label.file-input:not(.disabled):hover {
  box-shadow: 0 0 10px 2px var(--dodger);
  background-color: var(--button-hov);
}
label.file-input.valid {
  box-shadow: 0 0 10px 2px lawngreen;
}
label.file-input img {
  width: 75%;
  display: inline;
  padding-bottom: 15px;
}
button, a.button {
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: var(--dodger-faded);
  font-size: 1.5rem;
  width: fit-content;
  min-width: 100px;
  padding: 10px;
  border: 2px solid steelblue;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.25s;
}
button:hover, a.button:hover {
  background-color: var(--dodger);
}
button:disabled, a.button:disabled {
  color: #555;
  background-color: rgba(100,100,100,0.25);
  border: none;
  cursor: not-allowed;
}
button:focus {
  outline: none;
}
input[type="text"]:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
button.warn {
  color: black;
  border-color: darkgoldenrod;
  background-color: rgba(252,191,8,0.5);
}
button.warn:hover {
  background-color: rgba(252,191,8,1);
}
.success-msg {
  color: lawngreen;
}
.error-msg {
  color: gold;
}
.success-msg.box {
  color: #222;
  font-weight: bold;
  background-color: #efe;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 lawngreen;
}
.error-msg.box {
  color: firebrick;
  font-weight: bold;
  background-color: #fee;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 firebrick;
}
.tooltip {
  position: relative;
}
.tooltip::after {
  display: none;
  position: absolute;
  top: 0;
  right: -140px;
  width: 100px;
  height: auto;
  padding: 10px;
  color: #222;
  background-color: #eee;
  font-size: 1rem;
  border-radius: 10px;
  content: "";
}
.tooltip::before {
  display: none;
  position: absolute;
  top: 13px;
  right: -35px;
  width: 20px;
  height: 20px;
  background-color: #eee;
  transform: rotate(115deg) skewY(45deg);
  content: "";
}
.tooltip:hover::after,
.tooltip:hover::before {
  display: block;
}

/* Homepage */
div.home-button-group {
  width: 80vw;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.home-button-group a.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-main);
  padding: 25px;
  border: none;
  border-radius: 10px;
  height: 150px;
  width: 200px;
  transition-duration: 0.25s;
}
div.home-button-group a.button:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(126,172,170,0.25);
  box-shadow: 0 0 15px rgba(0, 120, 250, 0.5);
}
a.button p {
  font-size: 1.25rem;
}

/* Login page */
p.login-error {
  color: gold;
  font-size: 1.5rem;
}
