p {
  font-size: 1.5rem;
}
p.big {
  font-size: 2rem;
}
p.attention {
  color: gold;
  font-weight: bold;
  text-align: center;
}
li {
  font-size: 1.5rem;
  line-height: 1.5;
}
div.info {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 1000px;
  border-radius: 15px;
  border: 2px solid rgba(200,200,200,0.1);
  background-color: rgba(0,0,0,0.8);
}
div.info .item {
  margin: 15px;
  padding: 15px;
  border-bottom: 1px solid rgba(200,200,200,0.1);
}
div.info .item:last-child {
  border-bottom: none;
}
div.info h2.title {
  font-weight: bold;
  font-size: 2rem;
}
div.info h3.subtitle {
  margin-top: 50px;
  font-weight: bold;
  font-size: 1.5rem;
}
div.info img {
  width: 100%;
  border-radius: 15px;
  margin: 25px 0;
}
