table {
  margin: 50px;
  font-size: 1.25rem;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-width: 1400px;
  background-color: rgba(0,0,0,0.5);
}
thead {
  background-color: #111;
}
th, td {
  padding: 10px 25px;
  border: 2px solid rgba(200,200,200,0.2);
  vertical-align: middle;
}
td img {
  width: 10vw;
  height: auto;
  border-radius: 10px;
}
tr.selected {
  background-color: rgba(10,50,200,0.1);
  box-shadow: 0 0 15px rgba(15,100,250,0.75)
}
td .row {
  align-items: center;
}
td.details .row {
  justify-content: space-between;
}
td.query p,
td.match p {
  margin: 5px 0;
}
div.score {
  color: white;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
div.score p {
  margin: 0 20px;
}
div.istarget {
  color: var(--dodger);
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: none;
  box-shadow: 0 0 10px var(--dodger);
}
td.action button {
  display: block;
  margin: 10px auto;
}
td.action button.warn.tooltip::after {
  top: -3px;
  right: -190px;
  width: 150px;
  content: "Request next match if this looks incorrect";
}
div.email-overlay {
  display: none;
}
div.email {
  position: absolute;
  top: 20vh;
  left: 2vw;
  transition-duration: 0.5s;
}
div.email.offscreen {
  left: -20vw;
}
div.email .spinner {
  display: none;
  position: absolute;
  top: 0;
  right: -90px;
  width: 100px;
}
div.email .success {
  display: none;
  position: relative;
  left: 215px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: green;
  box-shadow: 0 0 15px 5px green;
}
div.email .success:after {
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 15;
  width: 60%;
  height: 20%;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(-55deg);
  content: "";
}
div.email .success:before {
  position: absolute;
  top: 10px;
  left: -150px;
  color: green;
  font-size: 1.5rem;
  font-weight: normal;
  content: "Email sent";
}
div.email p.error-msg {
  margin: 0;
}
