{% extends "home/header.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block content %}

<div class="header">
  <a href="/"> <img src="{% static 'home/img/home.png' %}" alt="Homepage"> </a>
  <h2>The cuke register</h2>
  {% if count %}
  <h1>Registration complete</h1>
  {% else %}
  <h1>Registration failed</h1>
  {% endif %}
</div>

<div class="confirm">

  {% if failed %}

  {% if count %}
  <h2 class="success-msg box">{{ count }} animal(s) registered to tank {{ tank_id }}</h2>
  <br>
  <h2 class="error-msg box"> {{ failed|length }} image(s) could not be registered: </h2>
  {% else %}
  <h2 class="error-msg box">Sorry, none of the images could be registered</h2>
  <br>
  {% endif %}

  <a class="button" href="/register/report" target="_blank"> PDF report </a>
  <br>

  <div class="container invalid">
  {% for item in failed %}
  <div class="row">
    <!-- failed image -->
    <div class="col">
      <img src="{{ item.img_uri }}" alt="Cucumber image">
    </div>

    <!-- error message -->
    <div class="col text">
      <h4 class="error-msg"> <b>File:</b> {{ item.filename }} </h4>
      <h4 class="error-msg"> <b>Error:</b> {{ item.message }} </h4>
      <button class="warn" type="button" onclick="reportError('{{ item.name }}');"> Report bug </button>
    </div>
  </div>
  {% endfor %}
  </div>

  {% else %}

  <!-- Success graphic -->
  <h2 class="success-msg box">{{ count }} animals registered successfully</h2>
  <br>
  <br>
  <img src="{% static 'register/img/success.png' %}" alt="Success icon">

  {% endif %}

</div>

<a class="button" href="/"> Home </a>
<br>
<a class="button" href="/register"> Register more </a>

{% endblock %}
