{% extends "home/header.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block sidebar %}
<a class="home" href="/"> <img src="{% static 'icons/home.svg' %}" alt="Homepage"> </a>
<a class="info" href="/info" target="_blank"> <img src="{% static 'icons/info.svg' %}" alt="Information"> </a>
<a class="back" href="/register"> <img src="{% static 'icons/back.svg' %}" alt="Back"> </a>
<a class="download" href="/register/report" target="_blank">
  <span class="tooltip">
    <img src="{% static 'icons/download.svg' %}" alt="Homepage">
  </span>
</a>
{% endblock %}

{% block content %}
<div class="header">
  <h2>The cuke register</h2>
  {% if count %}
  <h1>Registration complete</h1>
  {% else %}
  <h1>Registration failed</h1>
  {% endif %}
</div>

<div class="confirm">

  {% if failed %}

  {% if count %}
  <h2 class="success-msg box">{{ count }} animal(s) registered to tank "{{ tank_id }}"</h2>
  <br>
  <h2 class="error-msg box"> {{ failed|length }} image(s) could not be registered: </h2>
  {% else %}
  <h2 class="error-msg box">Sorry, none of the images could be registered</h2>
  <br>
  {% endif %}

  <div class="container invalid">
  {% for item in failed %}
  <div class="row">
    <!-- failed image -->
    <div class="col">
      <img src="{{ item.img_uri }}" alt="Cucumber image">
    </div>

    <!-- error message -->
    <div class="col text">
      <h4 class="error-msg"> <b>File:</b> {{ item.filename }} </h4>
      <h4 class="error-msg"> <b>Error:</b> {{ item.message }} </h4>
      <button class="warn tooltip" type="button" onclick="notifyAdminDialog('{{ item.filename }}');"> Report bug </button>
    </div>
  </div>
  {% endfor %}
  </div>

  {% else %}
  <!-- Success graphic -->
  <h2 class="success-msg box">{{ count }} animals registered successfully</h2>
  <br>
  <br>
  <img src="{% static 'register/img/success.png' %}" alt="Success icon">
  {% endif %}

</div>


<div class="modal-overlay" onclick="closeModal();"></div>

<div class="modal" id="notifyAdminModal">
  <div class="dialog">
    <div class="close" type="button" name="button" onclick="closeModal();"> &times; </div>

    <h3> Notify developer </h3>

    <p>
      If you think you've encountered a bug, you can notify a developer that
      something is wrong.
      <br><br>
      This registration event will be investigated.
    </p>

    <textarea rows="8" cols="50" placeholder="Please add any information that might be relevant"></textarea>

    <br>

    <button class="warn" type="submit"> Submit </button>
    <button type="button" onclick="closeModal();"> Cancel </button>
  </div>

  <img src="{% static 'home/img/spinner.svg' %}" alt="Loading animation">
  <div class="success"></div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.modal').hide()  // Remember display attr
    $('.modal').css('opacity', 1)

    setTimeout(function() {
      console.log('Settings focus on tooltip');
      $('.sidebar span.tooltip').addClass('hovered');
    }, 1000);
    setTimeout(function() {
      console.log('Removing focus from tooltip');
      $('.sidebar span.tooltip').removeClass('hovered');
      $('.sidebar span.tooltip').removeClass('tooltip');
    }, 6000);
  });
</script>

<script src="{% static 'home/js/ajax.js' %}"></script>
<script src="{% static 'register/js/result.js' %}"></script>
{% endblock %}
