{% extends "home/header.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block content %}

<div class="sidebar">
  <a class="home" href="/"> <img src="{% static 'icons/home.svg' %}" alt="Homepage"> </a>
  <a class="info" href="/info"> <img src="{% static 'icons/info.svg' %}" alt="Information"> </a>
</div>

<div class="header">
  <h2> The cuke register </h2>
  <h1>Register new animals</h1>
</div>

<form class="register-form-group" enctype="multipart/form-data" action="/register/" onsubmit="return formSubmit();" method="post">

  {% csrf_token %}

  <div class="container tanks">
    <div class="input-box">
      <input type="text" id="tank_id" name="tank_id" oninput="validateTankName(this);" placeholder="Enter a new tank identifier" autofocus>
    </div>

    {% if tanks %}

    <p> or </p>

    <div class="dropdown">
      <select class="form-control" name="tank_id_select" id="tank_id_select" onchange="validateTankSelect(this);">
        <option value="" selected> Select an existing tank </option>
        {% for tank in tanks %}
        <option value="{{ tank }}"> {{ tank }} </option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
  </div>

  <p class="error-msg">
    <!-- js and django-filled -->
    {% if error_msg %}
    Invalid form:
    <br>
    {{ error_msg }}
    {% endif %}
  </p>

  <div class="row">
    <div class="col images">
      <label class="file-input disabled" for="images">
        <img src="{% static 'register/img/photo.png' %}" alt="Photo icon">
        Upload images
      </label>
      <input type="file" id="images" name="images" maxlength="25" oninput="validateFiles(this);" accept=".jpg,.jpeg" multiple disabled></input>

      <p class="text-center" id="fileCount"> 0 files selected </p>
    </div>

    <div class="col identifiers">
      <h3 class="text-center"> Use filenames as identifiers:  </h3>

      <div class="radio-group tooltip">
        <input type="checkbox" id="infer_id" name="infer_id" onclick="$('#id_prefix').removeClass('active');$('#no_infer_id').removeClass('selected');" checked>
        <label for="infer_id"> Yes </label>
        <label id="no_infer_id" onclick="selectAutoGen();"> No </label>
      </div>

      <input type="text" id="id_prefix" name="id_prefix" value="" maxlength="10" placeholder="ID prefix (optional)">

      <br>

      <button type="submit" disabled> Upload </button>
    </div>
  </div>
</form>

{% endblock %}


{% block javascript %}

<script type="text/javascript">
  const existingTanks = [
    {% for tank in tanks %}
    "{{ tank }}",
    {% endfor %}
  ]

  async function selectAutoGen() {
    $('#id_prefix').addClass('active');
    $('#no_infer_id').addClass('selected');
    await new Promise((resolve) => setTimeout(resolve, 100));
    $('#id_prefix').focus();
    $('#infer_id').prop('checked', false);
  }
</script>

<script src="{% static 'home/js/ajax.js' %}"></script>
<script src="{% static 'register/js/register.js' %}"></script>

{% endblock %}
