{% extends "home/header.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'match/css/match.css' %}">
{% endblock %}

{% block sidebar %}
  <a class="home" href="/"> <img src="{% static 'icons/home.svg' %}" alt="Homepage"> </a>
  <a class="info" href="/info" target="_blank"> <img src="{% static 'icons/info.svg' %}" alt="Information"> </a>
{% endblock %}

{% block content %}

<div class="header">
  <h2> The cuke register </h2>
  <h1>Match registered animals</h1>

  <br><br><br><br>
</div>

<div class="text-center">
  {% for c in colors %}
  <p style="background-color: {{ c.1 }}"> {{ c.0 }} ({{ c.1 }})</p>
  {% endfor %}
</div>

{% endblock %}
